{{#mdl-nav title='e-pautas' fixedHeader=true closeDrawerOnItemClick=true}}
  {{mdl-nav-item name='Home'   route='home'}}
  {{mdl-nav-item name='Login'  route='login'}}
  {{!-- {{mdl-nav-item name='Nav'       route='navs'}} --}}
<div class="mdl-grid">
  	<div class="mdl-cell mdl-cell--12-col">
    	{{outlet}}
	</div>
</div>
{{/mdl-nav}}